:root {
  --primary-color: #fb743e;
  --secondary-color: #62959c;
  --tertiary-color: #00bcd4;
  --font-color: #383e56;
  --heading-font: "Noto Sans SC", sans-serif;
  --default-font: "Abel", sans-serif;
}

/*INDEX*/
@media (max-width: 576px) {
  .name {
    font-size: 30px;
    margin: 20px 0px;
    text-align: left;
  }

  .welcome {
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
  }

  .color-block {
    padding: 50px;
  }

  .nylonimage {
    margin-top: 30px;
  }

  h2 {
    font-size: 30px !important;
  }
}

body {
  background-image: linear-gradient(-225deg, #fffeff 0%, #fb743e 100%);
  color: var(--font-color);
  display: block;
  font-family: var(--default-font);
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 48px;
  margin: 20px;
  text-align: center;
}

h2 {
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}

h3 {
  color: var(--secondary-color);
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: bold;
}

.color-block {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  border-radius: 6px;
  border: double var(--font-color);
  margin: 20px;
  padding: 70px;
}

.color-block2 {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  border-radius: 6px;
  border: double var(--secondary-color);
  margin: 20px;
  padding: 50px;
}

.btn-outline-light:hover {
  color: var(--font-color);
}

.btn {
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

.weatherapp,
.coffeeapp {
  border-radius: 8px;
  border: double var(--secondary-color);
  max-width: 100%;
}

.navigation-link,
.navigation-link:visited {
  border: double var(--secondary-color);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 6px;
  color: var(--secondary-color);
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: 14px;
  padding: 10px 30px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.navigation-link:hover {
  border: solid #ebedee;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 6px;
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
}

.navigation-link-portfolio,
.navigation-link-portfolio:visited {
  border: double var(--font-color);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 6px;
  color: var(--font-color);
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: 14px;
  padding: 10px 30px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.navigation-link-portfolio:hover {
  border: solid #ebedee;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 6px;
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
}

/* NAV HEADER */

@media (max-width: 576px) {
  .veraBar {
    font-size: 11px !important;
  }
  .logoHeader {
    padding: 6px !important;
    border-radius: 30px !important;
  }
}

.logoHeader {
  background: var(--primary-color);
  border-radius: 30px;
  border: double #ebedee;
  font-size: 20px;
  opacity: 0.7;
  padding: 15px;
}

.veraBar {
  color: var(--font-color);
  font-size: 14px;
  font-weight: bold;
  font-family: var(--heading-font);
  max-width: 800px;
  margin: 0px 20px;
  padding: 0px 8px;
}

nav .active a,
nav .active a:visited {
  color: var(--primary-color);
}

nav a,
nav a:visited {
  color: var(--secondary-color);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

/*FOOTER */

footer {
  background: var(--secondary-color);
  opacity: 0.8;
  margin: 20px;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

/* ABOUT */

.avatar {
  max-width: 100%;
}

.logo {
  max-width: 100%;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

a:visited {
  color: var(--tertiary-color);
}

.workshop {
  font-weight: bold;
}

.credential {
  color: var(--secondary-color);
  font-weight: bold;
}

@media (max-width: 576px) {
  .certificates {
    text-align: left;
    padding: 20px 9px !important;
    line-height: 1.5;
  }

  .textAbout {
    text-align: center;
    margin-bottom: 5px;
  }

  .about {
    margin: 12px;
  }
}

.about {
  font-size: 16px;
  color: var(--secondary-color);
}

.linkToWebsite1 {
  color: var(--font-color);
}

/* WORK */

@media (max-width: 576px) {
  .projects {
    font-size: 13px !important;
    text-align: center;
  }
}

.workWeatherApp {
  border-radius: 8px;
  border: double var(--secondary-color);
  max-width: 100%;
}

.color-block-header {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  border-radius: 6px;
  border: double var(--font-color);
  margin: 20px;
  padding: 45px;
}

.workCoffeeApp {
  border-radius: 8px;
  border: double var(--secondary-color);
  max-width: 100%;
}

.linkToWebsite {
  color: var(--secondary-color);
}

.textUnderPictures {
  color: var(--secondary-color);
  font-size: 15px;
  line-height: 1;

  margin-top: 5px;
  text-align: left;
}

.projects {
  font-family: var(--heading-font);
  font-size: 16px;
}

/*Contact*/

.buttonContact {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border: double var(--secondary-color);
  border-radius: 8px;
  color: var(--secondary-color);
  font-weight: bold;
  padding: 5px 30px;

  transition: all 150ms ease-in-out;
}

.buttonContact:hover {
  border: solid #ebedee;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  color: var(--primary-color);
}

.labelContact {
  border-radius: 8px;
  border: solid 1px var(--font-color);
}

.labelText {
  font-size: 20px;
  font-weight: bold;
}

.contactHeader {
  color: var(--secondary-color);
  font-family: var(--heading-font);
}
